<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Student Lookup</title>
<meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="stylesheet" href="index.css">

<body>

    <form method = "get">
        {% csrf_token %}
     <div class='den'>
        <div class="don">
        <h1>Enter your Name & ID</h1>
        </div>
        <p>Given Name: <input name ="givenNumber" id="givenName"></p>
        <p>ID: <input id="id" name="id"></p>
        <button id="btn" onclick="">Submit</button>
        <button id="btn" onclick="">Reset</button>
        
    </div>

    </form>

<div class="creator">
 <h2>Created by:</h2>
 <h3>MD KAVIUL HOSSAIN</h3>
 <h3>ID: S222340498</h3>
</div>

</body>
</html>